<div class="container">
  <h4>Employee Summary</h4>
  <ul class="list-group">
    <div class="row listEmployees">
      <!-- First Five Employees -->
      <div class="col-xs-12 col-sm-12 col-md-6 firstFive">
        <h4>Five Employees</h4>
        <div
          class="list-group-item"
          *ngFor="let employee of firstFiveEmployees"
        >
          {{ employee.firstName }}
          {{ employee.lastName }}
          {{ employee.email }}
          {{ employee.empId }}
          {{ employee.createdAt }}
        </div>
      </div>
      <!-- Recent Five Employees -->
      <div class="col-xs-12 col-sm-12 col-md-6 lastFive">
        <h4>Recently Added</h4>
        <div
          class="list-group-item"
          *ngFor="let employee of recentFiveEmployees"
        >
          {{ employee.firstName }}
          {{ employee.lastName }}
          {{ employee.email }}
          {{ employee.empId }}
          {{ employee.createdAt }}
        </div>
      </div>
    </div>
  </ul>
  <a routerLink="/dashboard/employees">View All</a>
</div>
