.container {
  text-align: center;
}

.form-group {
  width: 100%;
  margin: auto;
  padding-bottom: 10px;
  input {
    text-align: center;
  }
}

input.ng-invalid.ng-touched {
  border: 0.5px solid red;
}
