<h4>Login Page</h4>

<hr />

<div class="col-xs-12 col-sm-12 col-md-8 offset-md-2 col-lg-6 offset-lg-3">
  <form (ngSubmit)="onSubmit(f)" #f="ngForm">
    <div class="form-row">
      <div class="form-group">
        <label for="email"> Email </label>
        <input
          type="text"
          name="email"
          id="email"
          placeholder="email@domain.com"
          ngModel
          email
          required
          #email="ngModel"
          class="form-control"
        />
        <span class="form-text alert alert-danger" *ngIf="email.touched && !email.valid">
          Email is required.
        </span>
      </div>
      <div class="form-group">
        <label for="password"> Password </label>
        <input
          type="password"
          name="password"
          id="password"
          placeholder="your secret goes here"
          ngModel
          required
          minlength="6"
          #password="ngModel"
          class="form-control"
        />
        <span class="form-text alert alert-danger" *ngIf="password.touched && !password.valid">
          Password is invalid
        </span>
      </div>
    </div>

    <div>
      <button class="btn btn-primary" type="submit">
        Login
      </button>
    </div>
  </form>
</div>
