.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.75);
  z-index: 50;
}

.addUserModal {
  position: sticky;
  // margin: auto;

  // width: 60vw;
  // margin-top: -120px;
  margin-bottom: 10vh;
  padding: 16px;
  z-index: 200;
  background-color: white;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
}

.addUserModal-action {
  text-align: center;
}

h4 {
  text-align: center;
}
form {
  text-align: center;
}

input.ng-invalid.ng-touched,
textarea.ng-invalid.ng-touched {
  border: 0.5px solid red;
}
