<div class="container">
  <div class="row">
    <div class="col-md-3 list-group-item">First Name</div>
    <div class="col-md-3 list-group-item">Last Name</div>
    <div class="col-md-3 list-group-item">Email</div>
    <div class="col-md-3 list-group-item">Role</div>
  </div>
  <div class="row" *ngFor="let user of users">
    <div class="col-md-3 list-group-item">{{ user.firstName }}</div>
    <div class="col-md-3 list-group-item">{{ user.lastName }}</div>
    <div class="col-md-3 list-group-item">{{ user.email }}</div>
    <div class="col-md-3 list-group-item">{{ user.role }}</div>
    <hr />
  </div>
</div>
