.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.75);
  z-index: 50;
}

.addUserModal {
  position: fixed;
  width: 60vw;
  top: 70px;
  left: 50vw;
  transform: translateX(-50%);
  padding: 16px;
  z-index: 200;
  background-color: white;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  box-sizing: border-box;
}

.addUserModal-action {
  text-align: center;
}

h4 {
  text-align: center;
}
form {
  text-align: center;
}

input.ng-invalid.ng-touched,
textarea.ng-invalid.ng-touched {
  border: 0.5px solid red;
}
