<div class="backdrop" (click)="onClose()"></div>

<div class="addUserModal">
  <div
    class="col-xs-12 col-sm-12 col-md-8 offset-md-2 col-lg-6 offset-lg-3 formContainer"
  >
    <!-- TODO: Below text should be moved to currentPage propert on header -->
    <h4>Add User</h4>

    <form [formGroup]="addUserForm" (ngSubmit)="onSubmit()">
      <!-- First Name -->
      <div class="form-group">
        <label for="firstName">First Name</label>
        <input
          type="text"
          id="firstName"
          formControlName="firstName"
          class="form-control"
          required
        />
        <span
          class="help-text alert-danger"
          *ngIf="
            addUserForm.get('firstName').touched &&
            !addUserForm.get('firstName').valid
          "
        >
          First Name is required!
        </span>
      </div>

      <!-- Last Name -->
      <div class="form-group">
        <label for="lastName">Last Name</label>
        <input
          type="text"
          id="lastName"
          formControlName="lastName"
          class="form-control"
        />
        <span
          class="help-text alert-danger"
          *ngIf="
            addUserForm.get('lastName').touched &&
            !addUserForm.get('lastName').valid
          "
        >
          Last Name is required!
        </span>
      </div>

      <!-- Email -->
      <div class="form-group">
        <label for="email">Email</label>
        <input
          type="email"
          id="email"
          formControlName="email"
          class="form-control"
        />
        <span
          class="help-text alert-danger"
          *ngIf="
            addUserForm.get('email').touched && !addUserForm.get('email').valid
          "
        >
          Invalid email!
        </span>
      </div>

      <!-- Password -->
      <div class="form-group">
        <label for="password"> Password </label>
        <input
          type="password"
          id="password"
          formControlName="password"
          class="form-control"
        />
        <span
          class="help-text alert-danger"
          *ngIf="
            addUserForm.get('password').touched &&
            !addUserForm.get('password').valid
          "
        >
          Invalid email!
        </span>
      </div>

      <!-- Confirm Password -->
      <div class="form-group">
        <label for="cpassword">Confirm Password </label>
        <input
          type="password"
          id="cpassword"
          formControlName="cpassword"
          class="form-control"
        />
        <span
          class="help-text alert-danger"
          *ngIf="
            addUserForm.get('cpassword').touched &&
            !addUserForm.get('cpassword').valid
          "
        >
          Invalid password/Passwords do not match!
        </span>
      </div>

      <!-- Role -->
      <div class="form-group">
        <select id="role" formControlName="role">
          <option value="admin">Admin</option>
          <option value="user" checked>User</option>
        </select>
      </div>

      <!-- Submit Button -->
      <div class="form-group">
        <button class="btn btn-primary ml-auto" type="submit">
          Sign Up
        </button>
      </div>

      <div>
        <button
          class="btn btn-danger ml-auto"
          type="button"
          (click)="onClose()"
        >
          Cancel
        </button>
      </div>
    </form>
  </div>
</div>
