<div class="container">
  <ul class="list-group">
    <div class="row listEmployees">
      <div class="col-xs-12 col-sm-12 col-md-6 firstFive">
        <h4>Five Employees</h4>
        <!-- <div class="list-group-item" *ngFor="let employee of employees.first">
          {{ employee.firstName }}
          {{ employee.lastName }}
          {{ employee.email }}
          {{ employee.empId }}
          {{ employee.createdAt }}
        </div> -->

        <div class="list-group-item">
          Placeholder 1 Lorem ipsum dolor sit, amet consectetur adipisicing
          elit. Earum, facere.
        </div>
        <div class="list-group-item">
          Placeholder 2 Lorem ipsum dolor sit amet consectetur adipisicing elit.
          Reprehenderit, cupiditate?
        </div>
        <div class="list-group-item">
          Placeholder 3 Lorem ipsum dolor sit amet consectetur, adipisicing
          elit. Consequatur, voluptatibus.
        </div>
        <div class="list-group-item">
          Placeholder 4 Lorem ipsum dolor sit amet consectetur adipisicing elit.
          Rem, tempora.
        </div>
        <div class="list-group-item">
          Placeholder 5 Lorem ipsum, dolor sit amet consectetur adipisicing
          elit. Iste, praesentium.
        </div>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-6 lastFive">
        <h4>Recently Added</h4>
        <!-- <div class="list-group-item" *ngFor="let employee of employees.recent">
            {{ employee.firstName }}
            {{ employee.lastName }}
            {{ employee.email }}
            {{ employee.empId }}
            {{ employee.createdAt }}
          </div> -->
        <div class="list-group-item">
          Placeholder 1 Lorem ipsum dolor sit amet consectetur adipisicing elit.
          Nam, at!
        </div>
        <div class="list-group-item">
          Placeholder 2 Lorem ipsum dolor sit amet consectetur adipisicing elit.
          Nam, at!
        </div>
        <div class="list-group-item">
          Placeholder 3 Lorem ipsum dolor sit amet consectetur adipisicing elit.
          Nam, at!
        </div>
        <div class="list-group-item">
          Placeholder 4 Lorem ipsum dolor sit amet consectetur adipisicing elit.
          Nam, at!
        </div>
        <div class="list-group-item">
          Placeholder 5 Lorem ipsum dolor sit amet consectetur adipisicing elit.
          Nam, at!
        </div>
      </div>
    </div>
  </ul>
</div>
